// Component Pagination
// ========================================================================
.pagination {
  &.react-paginate {
    .page-link {
      transition: all 0.05s ease-in-out;
    }
    background: #2873B9 !important;
    padding: 8px;
    width: fit-content;
    float: right;
    border-radius: 25px;

    .page-item.prev,
    .page-item.next {
      a.page-link:before,
      a.page-link:after {
        height: 16.83px;
        margin-top: 1px;
      }
    }
    &.pagination-sm {
      .page-item.prev,
      .page-item.next {
        a.page-link:before,
        a.page-link:after {
          height: 14.5px;
          display: none !important;
        }
      }
    }
    &.pagination-lg {
      .page-item.prev,
      .page-item.next {
        a.page-link:before,
        a.page-link:after {
          height: 19.5px;
        }
      }
    }
  }
 
  &.no-navigation {
    li:first-of-type,
    li:last-of-type {
      display: none;
    }
  }
}
.page-item.active .page-link{
  background-color: #FFFFFF !important;
  color: #2873B9 !important;

}
